useDynLib(frab, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import("mathjaxr")

importFrom(Rcpp,evalCpp) 
importFrom("stats", "setNames")
importFrom("methods", "new")
importFrom("methods", "as")

importFrom("disordR","allsame")
importFrom("disordR","disord")
importFrom("disordR","hashcal")
importFrom("disordR","hash")
importFrom("disordR","consistent")
importFrom("disordR","elements")
importFrom("disordR","is.disord")
importFrom("disordR","lapply")
importFrom("disordR","which")
importFrom("disordR","sort")
importFrom("disordR","%in%")

importClassesFrom(disordR,disindex)
importClassesFrom(disordR,disord)



